<launch>
  <!-- Gmapping 노드 실행 -->
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <param name="base_frame" value="base_link" />
    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="scan_topic" value="/scan" />
    <!-- Gmapping 파라미터 파일 경로 -->
    <param name="params" type="yaml" value="$(find my_slam_package)/config/gmapping_params.yaml" />
  </node>

  <!-- odom에서 base_link로의 고정 변환 -->
  <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0 /odom /base_link 100" />

  <!-- base_link에서 laser_frame으로의 고정 변환 -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 /base_link /laser_frame 100" />
</launch>
